footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy{
    font-size: 28px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color: #333333;
    text-decoration: none;
    margin: 10px;
}